<div class="h-full w-full flex justify-center items-center">
    <div class="bg-white flex justify-center items-center h-2/3 w-2/3 rounded-lg">
        <mat-card appearance="outlined" class="h-full w-full p-3 flex flex-col">
            <mat-card-header>
                <mat-card-title>Agendar Cliente</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="scheduleClient" (ngSubmit)="onSubmitAgendamento()" class="space-y-4 md:space-y-6">
                    <input formControlName="search" matInput placeholder="Nome"
                        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <select formControlName="search" matInput
                        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        @for (item of confirmAgendamento; track item){
                        <option class="text-xl font-sans" value="{{item.value}}">{{item.viewValue}}</option>
                        }
                    </select>
                    <input type="time" formControlName="attendanceHour" matInput
                        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <input type="date" formControlName="attendanceDate" matInput
                        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <button type="submit"
                        class="w-full bg-slate-300 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Agendar
                    </button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>