<div class="h-full w-full">
    <form class="flex flex-col items-start justify-center h-full w-full">
        <label class="font-medium">Email:</label>
        <mat-form-field>
            <mat-label class="text-lg">Insira seu email</mat-label>
            <input matInput>
        </mat-form-field>
        <label class="font-medium">Senha:</label>
        <mat-form-field>
            <mat-label class="text-lg">Insira sua senha</mat-label>
            <input class="w-1/2" matInput>
        </mat-form-field>
        <button mat-stroked-button class="w-full">Login</button>
    </form>
</div>