<div class="h-full w-full">
    <form [formGroup]="login" (ngSubmit)="onSubmit()" class="flex flex-col items-start justify-center h-full w-full p-3">
        <label class="font-medium">Email:</label>
        <mat-form-field class="w-full">
            <mat-label class="text-lg">Insira seu email</mat-label>
            <input type="email" formControlName="email" matInput>
        </mat-form-field>
        <label class="font-medium">Senha:</label>
        <mat-form-field class="w-full">
            <mat-label class="text-lg">Insira sua senha</mat-label>
            <input type="password" formControlName="password" matInput>
        </mat-form-field>
        <button mat-stroked-button type="submit" class="w-full">Login</button>
    </form>
</div>